<div class="container-fluid themes-tab">
  <div class="col-sm-12 col-xs-12">
    <div class="row">
      <p><a href="#/questions/add-question" class="btn btn-primary" role="button">Создать вопрос</a>
    </div>
    <div class="row">


      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group ng-repeat="lab in question.labs" heading="{{lab.name}}">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group
              ng-repeat="q in lab.questions" heading="{{$index + 1}}" ng-init="path = question.pathToCourse + '/' + lab.number + '/' + q.questionId + '/preview.html'">
              <p>
                <button ng-click="question.deleteQuestion(q.questionId)" class="btn btn-danger">Удалить вопрос</button>
              </p>

              <ng-include src="path"></ng-include>
            </uib-accordion-group>
          </uib-accordion>

        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>
