<div class="container course-profile">
  <div class="row">
    <div class="col-sm-12">
      <uib-tabset>
        <!-- Settings tab -->
        <uib-tab heading="Настройка" select="courseProfile.resetOfInputs()">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <form>
                <div class="form-group">
                  <label>Процент сдачи</label>
                  <input type="number" ng-model="courseProfile.settings.percentForSuccess.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Время выполнения (мин)</label>
                  <input type="number" ng-model="courseProfile.settings.timeForExecuting.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Колличество попыток в день</label>
                  <input type="number" ng-model="courseProfile.settings.maxNumberOfAttemps.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Колличество вопросов в тесте</label>
                  <input type="number" ng-model="courseProfile.settings.numberOfQuestions.current" class="form-control">
                </div>

                <button type="button" class="btn btn-primary" ng-click="courseProfile.updateCourse()">Сохранить</button>
                <button type="button" class="btn btn-primary" ng-click="courseProfile.resetOfInputsWithApply()">Cброс</button>
              </form>
            </div>
          </div>
        </uib-tab>

        <!-- Questions tab -->
        <uib-tab heading="Вопросы">В разработке</uib-tab>

        <!-- Themes/Labs tab -->
        <uib-tab heading="Темы">
          <div class="container-fluid themes-tab" ng-controller="LabCtrl as lab">

            <div class="col-sm-6 col-xs-6">
              <div class="row">
                <form>
                  <div class="form-group">
                    <label>Номер</label>
                    <input type="number" ng-model="lab.newLab.number" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Имя темы/лабораторной работы</label>
                    <input type="text" ng-model="lab.newLab.name" class="form-control">
                  </div>

                  <button type="button" class="btn btn-primary" ng-click="lab.addLab()">Добавить лабораторную работу</button>
                </form>
              </div>

              <!-- edit theme/lab -->
              <div class="row" ng-show="lab.selectedLab.labId">
                <form>
                  <div class="form-group">
                    <label>Номер</label>
                    <input type="number" ng-model="lab.selectedLab.number" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Имя темы/лабораторной работы</label>
                    <input type="text" ng-model="lab.selectedLab.name" class="form-control">
                  </div>

                  <button type="button" class="btn btn-primary" ng-click="lab.editLab()">Сохранить</button>
                  <button type="button" class="btn btn-primary" ng-click="lab.deleteLab()">Удалить</button>
                </form>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <ul class="list-group lab-list">
                <li ng-repeat="item in lab.labs"
                    class="list-group-item"
                    ng-class="{'active': item.labId === lab.selectedLab.labId}"
                    ng-click="lab.selectLab(item.labId)"
                >
                  <b>{{item.number}}</b>. {{item.name}}
                </li>
              </ul>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
