<div class="container course-profile">
  <div class="row">
    <div class="col-sm-12">
      <uib-tabset>
        <!-- Settings tab -->
        <uib-tab heading="Настройка" select="courseProfile.resetOfInputs()">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <form>
                <div class="form-group">
                  <label>Процент сдачи</label>
                  <input type="number" ng-model="courseProfile.settings.percentForSuccess.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Время выполнения (мин)</label>
                  <input type="number" ng-model="courseProfile.settings.timeForExecuting.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Колличество попыток в день</label>
                  <input type="number" ng-model="courseProfile.settings.maxNumberOfAttemps.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Колличество вопросов в тесте</label>
                  <input type="number" ng-model="courseProfile.settings.numberOfQuestions.current" class="form-control">
                </div>

                <div class="form-group">
                  <label>Минимальная стоимость вопроса для сдачи</label>
                  <input type="number" ng-model="courseProfile.settings.minCostToLadder.current" class="form-control">
                </div>

                <div class="form-group">
                  <div><label>Включить функцию "Минимальная стоимость вопроса для сдачи"</label></div>
                  <label class="radio-inline"><input type="radio" ng-model="courseProfile.settings.permitToUseMinRule.current" ng-value="1">Да</label>
                  <label class="radio-inline"><input type="radio" ng-model="courseProfile.settings.permitToUseMinRule.current" ng-value="0">Нет</label>
                </div>

                <div class="form-group">
                  <div><label>Включить функцию "Умный подсчет"</label></div>
                  <label class="radio-inline"><input type="radio" ng-model="courseProfile.settings.permitToCleverCount.current" ng-value="1">Да</label>
                  <label class="radio-inline"><input type="radio" ng-model="courseProfile.settings.permitToCleverCount.current" ng-value="0">Нет</label>
                </div>

                <button type="button" class="btn btn-primary" ng-click="courseProfile.updateCourse()">Сохранить</button>
                <button type="button" class="btn btn-primary" ng-click="courseProfile.resetOfInputsWithApply()">Cброс</button>
              </form>
            </div>
          </div>
        </uib-tab>

        <!-- Questions tab -->
        <uib-tab heading="Вопросы">В разработке</uib-tab>

        <!-- Themes/Labs tab -->
        <uib-tab heading="Темы">
          <div class="container-fluid themes-tab" ng-controller="LabCtrl as lab">

            <div class="col-sm-6 col-xs-6">
              <div class="row">
                <form>
                  <div class="form-group">
                    <label>Номер</label>
                    <input type="number" ng-model="lab.newLab.number" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Имя темы/лабораторной работы</label>
                    <input type="text" ng-model="lab.newLab.name" class="form-control">
                  </div>

                  <button type="button" class="btn btn-primary" ng-click="lab.addLab()">Добавить лабораторную работу</button>
                </form>
              </div>

              <!-- edit theme/lab -->
              <div class="row" ng-show="lab.selectedLab.labId">
                <form>
                  <div class="form-group">
                    <label>Номер</label>
                    <input type="number" ng-model="lab.selectedLab.number" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Имя темы/лабораторной работы</label>
                    <input type="text" ng-model="lab.selectedLab.name" class="form-control">
                  </div>

                  <button type="button" class="btn btn-primary" ng-click="lab.updateLab()">Сохранить</button>
                  <button type="button" class="btn btn-primary" ng-click="lab.deleteLab()">Удалить</button>
                </form>
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <ul class="list-group lab-list">
                <li ng-repeat="item in lab.labs"
                    class="list-group-item"
                    ng-class="{'active': item.labId === lab.selectedLab.labId}"
                    ng-click="lab.selectLab(item.labId)"
                >
                  <b>{{item.number}}</b>. {{item.name}}
                </li>
              </ul>
            </div>
          </div>
        </uib-tab>

        <!-- Questions tab -->
        <uib-tab heading="Студенты">
          <div class="container-fluid student-tab" ng-controller="StudentCtrl as student">
            <div class="col-sm-4 col-xs-4">
              <div class="row">
                <form>
                  <div class="form-group">
                    <label>ФИО</label>
                    <input type="text" ng-model="student.newStudent.fio" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Номер группы</label>
                    <input type="text" ng-model="student.newStudent.groupNumber" class="form-control">
                  </div>

                  <button type="button" class="btn btn-primary" ng-click="student.addStudent()">Добавить</button>
                </form>
              </div>
            </div>

            <div class="col-sm-8 col-xs-8">
              <table class="table">
                <thead>
                <tr>
                  <td>ФИО</td>
                  <td>Номер группы</td>
                  <td>мин. стоимость</td>
                  <td>макс. стоимость</td>
                  <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stud in student.students">
                  <td>{{stud.fio}}</td>
                  <td>{{stud.groupNumber}}</td>
                  <td>{{stud.minCost}}</td>
                  <td>{{stud.maxCost}}</td>
                  <td><span class="glyphicon glyphicon-remove delete-student" ng-click="student.deleteStudent(stud.studentId)"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Лог">
          <div class="container-fluid student-tab" ng-controller="LogCtrl as log">
            <table class="table">
              <thead>
              <tr>
                <td>ФИО</td>
                <td>Номер группы</td>
                <td>Лаб. раб.</td>
                <td>Время начала</td>
                <td>Время конца</td>
                <td>Результат</td>
                <td>pc ip</td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in log.log">
                <td>{{item.student.fio}}</td>
                <td>{{item.student.groupNumber}}</td>
                <td>{{item.lab.name}}</td>
                <td>{{item.timeBegin}}</td>
                <td>{{item.timeFinish}}</td>
                <td>{{item.result}}</td>
                <td>{{item.pcip}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
