<div class="container course-profile">
  <div class="row">
    <div class="col-sm-12">
      <uib-tabset>
        <uib-tab heading="Настройка">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <form>
                <div class="form-group">
                  <label>Процент сдачи</label>
                  <input type="number" ng-model="courseProfile.settings.percentForSuccess" class="form-control">
                </div>

                <div class="form-group">
                  <label>Время выполнения (мин)</label>
                  <input type="number" ng-model="courseProfile.settings.timeForExecuting" class="form-control">
                </div>

                <div class="form-group">
                  <label>Колличество попыток в день</label>
                  <input type="number" ng-model="courseProfile.settings.maxNumberOfAttemps" class="form-control">
                </div>

                <div class="form-group">
                  <label>Колличество вопросов в тесте</label>
                  <input type="number" ng-model="courseProfile.settings.numberOfQuestions" class="form-control">
                </div>

                <button type="button" class="btn btn-primary" ng-click="courseProfile.updateCourse()">Сохранить</button>
              </form>
            </div>
          </div>
        </uib-tab>

        <uib-tab heading="Вопросы">В разработке</uib-tab>
        <uib-tab heading="Темы">В разработке</uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
