@import "variables";
@import "functions";
@import "toaster-override";
@import "bootstrap-verride";

.header {
  border-radius: 0;
}

.course-profile {
  padding-top: 10px;

  .tab-content {
    padding-top: 10px;
  }

  .themes-tab {
    .lab-list {
      > li {
        &:hover {
          background: @blue;
          color: @white;
          cursor: pointer;
        }
      }
    }
  }

  .student-tab {
    .delete-student {
      &:hover {
        cursor: pointer;
      }
    }
  }
}